consolidadoindividual {

  .labelEstilo {
    margin: 2px 2px 2px 2px;
    font-size: 14px;
    text-align: justify ;
  }

  .colunaEstilo {
    padding: 1px;
  }

  .buttonEstilo {
    margin: 0px 0px 0px 0px;
    padding: 1px;
    height: 70%;     
  }

}
