consolidadoedificio {

  .labelEstilo {
    margin: 1px 1px 1px 1px;
    font-size: 12px;
    text-align: left ;
  }

  .colunaEstilo {
    padding: 1px;
  }

  .buttonEstilo {
    margin: 0px 0px 0px 0px;
    padding: 1px;
    height: 70%;     
  }

}
