page-resumoapartamentos {
  h5 {
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 10px;
  }
  .titulo {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .btDetalhar{
    font-size: 8px;
    padding: 1px;
    size: 40px;
  }

}
