
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="list-box"> </ion-icon>
    </button>
    <ion-title>Gerar Mensalidade</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="tpConsulta">
    <ion-item>
        <ion-label><strong>Opções de geração de taxa de condomínio</strong></ion-label>  
    </ion-item> 
    <ion-item>
      <ion-label>Gerar Para o Mês Corrente</ion-label>
      <ion-radio [value]="VL_RADIO_GERAR_MES_CORRENTE" (ionSelect)="reset($event)"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Gerar Para um Periodo Diferente</ion-label>
        <ion-radio [value]="VL_RADIO_GERAR_MES_PASSADO" (ionSelect)="reset($event)"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>Gerar Para um Apartamento Específico</ion-label>
        <ion-radio [value]="VL_RADIO_GERAR_ESPECIFICO" (ionSelect)="reset($event)"></ion-radio>
    </ion-item>
  </ion-list>  
  <ion-item *ngIf="tpConsulta === VL_RADIO_GERAR_MES_PASSADO || tpConsulta === VL_RADIO_GERAR_ESPECIFICO">
      <ion-label>Escolha o exercicio</ion-label>
      <ion-datetime cancelText="Cancelar" displayFormat="MMM YYYY" [max]="anoquevem" 
      monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
       [(ngModel)]="myDate" (ionChange)="pegarValor()" doneText="OK">
        </ion-datetime>
    </ion-item>
    
    <ion-item *ngIf="tpConsulta === VL_RADIO_GERAR_ESPECIFICO">
      <ion-label>Escolha o Apartamento</ion-label>
      <ion-select
        [(ngModel)]="apartamentosEscolhidos"
        multiple="true" (ionChange)="onApartamentosEscolhidos()"
        okText="OK"
        cancelText="Cancelar"         
      >
        <ion-option *ngFor="let ap of apartamentos"        
        [value]="ap">{{ ap.numero }}</ion-option>
      </ion-select>
    </ion-item>
    <div>
      <button ion-button full (click)="presentGerarTaxa()">Gerar</button>
    </div>
</ion-content>
