page-home {

  h3 {
    text-align: center;
  }
  
  img {
    align-self: center;
    padding: 10px;
    width: 200px;
    margin: auto;
    display: block;
  }

  .teste {
    text-align-last: unset;
    color: darkblue;
    margin-left: 14px;
  }

}
