page-confimarpagamento {

  h5 {
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 8px;
  }

  .titulo {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .linhaDados {
    background-color: beige;
  }
  .checkbox12 {
    padding-inline-start: 1px;
    padding-bottom: 0px;
  }
  .divConfirmarTudo {
    margin: 2px 20px 30px 20px;
  }
  .confirmarTudo {    
    width: 280px;
    padding-right: 20px;
  }  

}

